/build*/
/dist/
/.synaTudor-registry/
/subprojects/cryptbridge/.cache/
/subprojects/.wraplock

*.blob
*.cab
*.cat
*.dll
*.exe
*.log
*.pkg.tar*
*.sys
*.tar.zst
*.uint

compile_commands.json
core
core.*
