/build*/
/dist/
/.synaTudor-registry/
/subprojects/cryptbridge/.cache/
/subprojects/.wraplock

*.blob
*.cab
*.cat
*.dll
*.exe
*.key
*.log
*.p12
*.pcap
*.pcapng
*.pem
*.pfx
*.pkg.tar*
*.sys
*.tar.zst
*.tupd
*.uint

compile_commands.json
core
core.*
