pkgbase = synatudor-0081
	pkgdesc = Synaptics Tudor TOD driver for the 06cb:0081 fingerprint sensor
	pkgver = 0.1.0
	pkgrel = 4
	url = https://github.com/theaboutbox/synatudor-06cb-0081
	arch = x86_64
	license = LGPL-2.1-only
	license = unknown
	makedepends = innoextract
	makedepends = meson
	makedepends = ninja
	makedepends = pkgconf
	depends = bash
	depends = coreutils
	depends = dbus
	depends = findutils
	depends = fprintd
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnutls
	depends = json-glib
	depends = libcap
	depends = libfprint-tod=1.95.2+tod1-1
	depends = libgusb
	depends = libseccomp
	depends = libusb
	depends = openssl
	depends = sudo
	depends = systemd
	depends = usbutils
	depends = util-linux
	provides = synatudor
	conflicts = synatudor
	options = !lto
	source = synatudor-06cb-0081-0.1.0.tar.gz::https://github.com/theaboutbox/synatudor-06cb-0081/releases/download/v0.1.0/synatudor-06cb-0081-0.1.0.tar.gz
	source = huy103af07m6.exe::https://download.lenovo.com/consumer/mobiles/huy103af07m6.exe
	sha256sums = a4c73d0c1b31d2f2521fa295576a9a895038984b7a23cb4d74658407ccd12a35
	sha256sums = 2713966a9ce5906fce12d33ead81f8c15a72d7b1cbe4e523613147181ce32343

pkgname = synatudor-0081
